
 <!-- <main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>  -->

<%- include('partials/header') -%>

<!-- <div class="container col-xxl-8 px-4 py-5 card-container">
  <div class="text-center hero-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
            Hello There!
          </h1> 
          <h3 class="mb-5 ">
            Welcome to DocYou!
      </h3>
      <h4 class="mb-5 ">
            Patient documentation made easy!
      </h4> 
          <a class="btn btn-primary" href="/signup">Get Started !</a>
    </div>
  </div>
</div> -->

<div class="container col-xxl-8 px-4 py-5 card-container">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/imgs/test.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300" height="400" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">DocYou</h1>
      <p class="lead">Making documentation easier!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/signup" type="button" class="btn btn-outline-success btn-lg">
          Signup for DocYou
        </a>
        <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
      </div>
    </div>
  </div>
</div>



<%- include('partials/footer') -%>
