
 <!-- <main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>  -->

<%- include('partials/header') -%>

<div class="container col-xxl-8 px-4 py-5 card-container">
  <div class="text-center hero-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
            Hello There!
          </h1> 
          <h3 class="mb-5 ">
            Welcome to DocYou!
      </h3>
      <h4 class="mb-5 ">
            Patient documentation made easy!
      </h4> 
          <a class="btn btn-primary" href="/signup">Get Started !</a>
    </div>
  </div>
</div>


<%- include('partials/footer') -%>
